:local .square {
  background: #eee;
  border: 0;
  border-right: 3px solid #444;
  float: left;
  padding-top: 4px;
  margin: 0;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 48px;
  overflow: hidden;
  word-wrap: none;
}

:local .square:last-child {
  border-right: 0;
}

:local .square:focus {
  outline: 0;
}

:local .highlight {
  background: #dd2222;
}
