:local .container {
  display: flex;
  flex-direction: row;
}

:local .info {
  padding-left: 30px;
  padding-top: 43px;
  font-size: 24px;
}

:local .moveList {
  margin-top: 9px;
}

:local .move {
  display: block;
  margin-top: 2px;
  min-width: 170px;
}

:local .selected {
  font-weight: bold;
  background: #fff;
}