:local .not_found {
  background: red;
  height: calc(100% - 100px);
  width: calc(100% - 70px);
  float: right;
  overflow: auto;
}

:local .center {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

:local .big {
  margin-top: 48px;
  font-size: 64px;
}

:local .text {
  margin-top: 10px;
  font-size: 32px;
}