html {
  height: 100%;
}

body {
  background: #fcfcfc;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.container {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.page-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.page-container > .container {
  height: 100%;
  width: 50%;
}

.link {
  text-decoration: none;
  color: black;
}

.card-shadow {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-shadow-dramatic {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
