.resume {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;

    .nav-background {
        position: fixed;
        top: 0;
        height: 56px;
        width: 100%;
        background: #ffffff;
        z-index: 0;
    }
    .resume-paper {
        height: 1000px;
        width: 700px;
        background-image: url('../../../assets/timothy_shur_resume.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 28px 0 rgba(0, 0, 0, 0.19);
        padding: 100px;
        padding-bottom: 80px;
    }
    a {
        position: absolute;
        top: 115px;
        margin-left: 485px;
        height: 35px;
        width: 35px;
        color: #3b5998;
        .download {
            height: 100%;
            width: 100%;
        }
    }
}