.nav {
  position: fixed;
  top: 0;
  height: 56px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  box-shadow: -5px 5px 15px 5px rgba(0, 0, 0, 0.3);
  z-index: 5;

  .nav-item {
    margin-right: 20px;

    &:last-child {
      margin-right: 100px;
    }

    .button {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      float: left;
      height: 56px;
      padding: 0 20px;
      color: black;

      &:hover {
        color: #dddddd;
      }
      .text {
        font-size: 18px;
        text-transform: uppercase;
      }
    }
  }
}
