.nav {
  background: green;
  height: 70px;
  width: 100%;
  overflow: hidden;

  .button {
    background: yellow;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin-left: 70px;
    height: 70px;
    width: 120px;

    .text {
      font-size: 24px;
      color: black;
    }
  }
}
