.nav {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: flex-end;
  height: 56px;
  width: 100%;
  overflow: hidden;

  .nav-item {
    margin-right: 20px;

    &:last-child {
      margin-right: 112px;
    }

    .button {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      float: left;
      height: 56px;
      padding: 0 20px;
      color: black;

      &:hover {
        color: #555555;
      }
      .text {
        font-size: 18px;
        text-transform: uppercase;
      }
    }
  }
}
