:local .footer {
  background: blue;
  height: 100px;
  width: calc(100% - 70px);
  float: right;
  overflow: auto;
}

:local .contact {
  height: 70px;
  padding-top: 15px;
  padding-bottom: 15px;
}

:local .linkedin {
  padding-left: 3px;
}

:local .item {
  display: flex;
  align-items: center;
  height: 30px;
  width: 250px;
  margin-left: 15%;
  margin-top: 5px;
}

:local .icon {
  float: left;
}

:local .text {
  float: left;
  margin-left: 15px;
  padding-top: 3px;
  font-size: 20px;
}